<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<h1 class="text-center">Ajouter un produit</h1>
			<!-- ERB nous permet de définir des vues partielles qui sont des fichiers ERB qui commence par un _ et qu’on peut injecter dans d’autres templates -->
			<%= render "form" %>
		</div>
	</div>
</div>